{erl_opts, [debug_info]}.
{src, ["src"]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.17.0"}}},
    {jsx,    {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}},
    {jesse,  {git, "https://github.com/for-get/jesse.git", {tag, "1.8.2"}}}
]}.
{shell, [
    {apps, [emcp]},
    {config, "./config/sys.config"}
]}.
{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_export_enabled, true}
    ]}
]}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
